<div class="blur">
<div class="container">
  <ul class="timeline">
    <li>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <img class="img-responsive" src="./assets/images/logos/Epitech.png" alt="epitech-logo" />
          <h4 class="timeline-title">Master 2 European Institute of Information Technology</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Paris September 2015 - September 2017 </small></p>
        </div>
        <div class="timeline-body">
          <p>Année d'expertise entièrement dispensée en anglais, la cinquième année permet d’accomplir des projets de haut vol ainsi que la finalisation de l'Epitech Inovative Project (EIP).</p>
          <p>Matières enseignées:</p>
          <ul>
            <li>Project Management</li>
            <li>Business management</li>
            <li>Startup creation</li>
            <li>Professional efficiency</li>
            <li>Communication techniques</li>
            <li>Epitech Inovative Project</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-panel">
        <div class="timeline-heading">
          <img class="img-responsive" src="./assets/images/logos/laval.png" alt="laval-logo" />
          <h4 class="timeline-title">Master 1 Université Laval</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Québec September 2015 - June 2016</small></p>
        </div>
        <div class="timeline-body">
          <p>Année d'internationalisation entièrement dispensée à l'étranger, la quatrième année permet de développer des compétences indispensables sur le marché de l’emploi pour s’assurer une carrière à haut potentiel : l’adaptabilité à un environnement différent, l’intégration au sein d’une équipe multiculturelle et l’ouverture d’esprit face à l’inconnu. Dans cette perspective et pour les matières proposé mon choix s'est porté sur l'université Laval à Québec.</p>
          <p>Matières enseignées:</p>
          <ul>
            <li>Project Management</li>
            <li>Marketing</li>
            <li>Networks</li>
            <li>Computer graphics</li>
            <li>Algorithms and data structures</li>
            <li>Web API development</li>
            <li>Human-computer Interaction</li>
            <li>Artificial Intelligence</li>
            <li>Software development Processes</li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <img class="img-responsive" src="./assets/images/logos/Epitech.png" alt="epitech-logo" />
          <h4 class="timeline-title">Bachelor European Institute of Information Technology</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Nantes September 2012 - July 2015</small></p>
        </div>
        <div class="timeline-body">
          <p>Année de montées en compétences purement techniques, ces trois premières années permettent fournissent les bases méthodologiques et les réflexes nécessaires pour acquérir une approche logique de l'informatique. Elles permettent également de développer sa connaissance des langages, et renforcer sa logique par une maîtrise approfondie des outils mathématiques et une approche des systèmes complexes.</p>
          <p>Matières enseignées:</p>
          <ul>
            <li>Algorithms & Data structure</li>
            <li>Sytem Unix</li>
            <li>Mathematics</li>
            <li>C - C++ - C#.NET languages</li>
            <li>Object-oriented programming</li>
            <li>Databases SQL / NOSQL</li>
            <li>Graphics programming</li>
            <li>Multi-Threading - Multi-processing</li>
            <li>Shared Memory - Network communication</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-panel">
        <div class="timeline-heading">
          <img class="img-responsive" src="./assets/images/logos/likes.png" alt="likes-logo" />
          <h4 class="timeline-title">Scientific Baccalaureate Likès – Secondary school</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Quimper September 2009 - July 2012</small></p>
        </div>
        <div class="timeline-body">
          <p>Années conduisant aux études supérieures, ces trois années permettent d'acquérir les bases scientifiques nécessaires à la poursuite des études.</p>
          <p>Matières enseignées:</p>
          <ul>
            <li>Mathematics</li>
            <li>Electronics</li>
            <li>Mechanic</li>
            <li>Physics</li>
            <li>English</li>
            <li>History</li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
</div>
