<div  class="blur">
  <div class="container">
    <div class="row destacados">
      <div class="col-xs-offset-1 col-xs-10 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="box1">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
              <div class="contact-form-area">
                <form [formGroup]="form" >
                  <h3>{{ 'Get in touch!' | translate }}</h3>
                  <div class="text-center">
                    <a href="https://ca.linkedin.com/in/elliot-kersalé-8a7a7167"><i id="social-fb" class="fa fa-linkedin-square fa-3x social"></i></a>
                    <a href="https://github.com/ekersale"><i id="social-gh" class="fa fa-github-square fa-3x social"></i></a>
                    <a href="https://plus.google.com/105573185651924114088"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                    <a href="mailto:contact@elliot-kersale.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                  </div>

                  <div class="form-group input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
                    <input class="form-control" formControlName="email" type="text" placeholder="{{'Email address' | translate}}" required >
                  </div>

                  <div class="form-group input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-tag fa-fw" aria-hidden="true"></i></span>
                    <input class="form-control" type="text" formControlName="subject" placeholder="{{'Subject' | translate}}" required>
                  </div>

                  <div class="form-group">
                    <textarea class="form-control" formControlName="message" rows="7" placeholder="Message" required></textarea>
                  </div>

                  <div class="form-group">
                    <recaptcha (resolved)="resolved($event)" class="recaptcha" theme="dark" required siteKey="6Ld-1w4UAAAAANVwydR0HxLkMB2fG8bczunX8WR0"></recaptcha>
                  </div>
                  <button type="submit" (click)="onSubmit()" class="btn btn-primary contact-btn" [disabled]="!form.valid || !captcha"><i class="fa fa-paper-plane-o" aria-hidden="yes"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
