<div class="blur">
  <div class="container ">
    <div class="row">
      <div class="col-md-3 well pricing-table">
        <div class="pricing-table-holder">
            <img src="./assets/images/logos/html5.svg" class="img-responsive img-circle" alt="">
            <circularbar [value]="80" [skill]="'HTML/CSS'" [level]="'Expert'"></circularbar>
        </div>
        <div class="pricing-feature-list">
          <h3>Projets</h3>
          <ul class="list-group">
            <li class="list-group-item">Projet 1</li>
            <li class="list-group-item">Projet 2</li>
            <li class="list-group-item">Projet 3</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 well pricing-table">
        <div class="pricing-table-holder">
          <img src="./assets/images/logos/csharp.svg" class="img-responsive img-circle" alt="">
          <circularbar [value]="60" [skill]="'C / C#'" [level]="'Proficient'"></circularbar>
        </div>
        <div class="pricing-feature-list">
          <h3>Projets</h3>
          <ul class="list-group">
            <li class="list-group-item">Projet 1</li>
            <li class="list-group-item">Projet 2</li>
            <li class="list-group-item">Projet 3</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 well pricing-table">
        <div class="pricing-table-holder">
          <img src="./assets/images/logos/angular.svg" class="img-responsive img-circle" alt="">
          <circularbar [value]="80" [skill]="'Angular 2/ JS'" [level]="'Expert'"></circularbar>
        </div>
        <div class="pricing-feature-list">
          <h3>Projets</h3>
          <ul class="list-group">
            <li class="list-group-item">Projet 1</li>
            <li class="list-group-item">Projet 2</li>
            <li class="list-group-item">Projet 3</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
<!--<div class="container">
<div class="row">
  <circularbar [value]="80" [skill]="'HTML/CSS'" [level]="'Expert'"></circularbar>
  <circularbar [value]="80" [skill]="'C++'" [level]="'Expert'"></circularbar>
  <circularbar [value]="60" [skill]="'C - C#'" [level]="'Proficient'"></circularbar>
</div>
</div>-->
</div>
