<div  class="blur">
  <div class="container-fluid" style="padding-left: 40px; padding-right:40px; padding-top: 20px;height: 90%; overflow-y: scroll;">
    <div class="row" style="margin-bottom: 30px;">
      <div class=" highlight col-sm-5 left">
      <div class="row"><h2>{{'Dev' | translate}}  mobile hybride</h2></div>
      <div class="row less-float">
        <div class="col-sm-12 col-md-4 no-float img">
          <img src="./assets/images/logos/sogeti-high-tech.png" class="img-responsive" alt="sogeti hight tech logo"/>
        </div>
        <div class="col-sm-12 col-md-8 no-float">
          <ul>
            <li>{{'Company' | translate}} : Sogeti High Tech - Sophia Antipolis</li>
            <li>Mission : 2016.09 - 2017.03 (6 {{'month' | translate}})</li>
            <li>{{'Frontend' | translate }} : HTML5 - SASS - Angular 2 - Ionic 2 - Cordova </li>
            <li>{{'Backend'  | translate }} : NodeJS - Mongodb - GoogleAPI </li>
            <li>{{ 'Sytem' | translate }} : Docker - Ubuntu 16.04 </li>
            <li>{{ 'Tools' | translate }} : Webstorm - Github </li>
          </ul>
        </div>

      </div>
      <div class="row job-details">
        <p>{{ "Sogeti Job Details" | translate }}</p>
      </div>
    </div>
      <div class=" highlight col-sm-5 right">
        <div class="row"><h2>{{'Co founder' | translate}}  & {{'Dev' | translate}} fullstack</h2></div>
        <div class="row less-float">
          <div class="col-sm-12 col-md-4 no-float img">
            <img src="./assets/images/logos/beavr.png" class="img-responsive" alt="beavr logo"/>
          </div>
          <div class="col-sm-12 col-md-8 no-float">
            <ul>
              <li>{{'Company' | translate}} : BeaVR - Nantes</li>
              <li>Mission : 2015.02 - PRESENT</li>
              <li>{{'Frontend' | translate }} : HTML5 - SASS - SemanticUI - Bootstrap - AngularJS - Backbone - UnderscoreJS - ThreeJS - jQuery </li>
              <li>{{'Backend'  | translate }} : NodeJS - Mongodb </li>
              <li>{{ 'Sytem' | translate }} : Travis - Heroku - Ubuntu 16.04 - Apache </li>
              <li>{{ 'Tools' | translate }} : Webstorm - Github </li>
            </ul>
          </div>

        </div>
        <div class="row job-details">
          <p>{{ "BeaVR Job Details" | translate }}</p>
        </div>
      </div>
      <div class=" highlight col-sm-5 left" >
        <div class="row"><h2>{{'Dev' | translate}} C#.NET - VR</h2></div>
        <div class="row less-float">
          <div class="col-sm-12 col-md-4 no-float img">
            <img src="./assets/images/logos/thales.png" class="img-responsive" alt="sogeti hight tech logo"/>
          </div>
          <div class="col-sm-12 col-md-8 no-float">
            <ul>
              <li>{{'Company' | translate}} : Thales Communication & Security - Cholet</li>
              <li>Mission : 2014.09 - 2015.07 (10 {{'month' | translate}})</li>
              <li>{{'Frontend' | translate }} : Unity - WPF - QT - Irrlicht </li>
              <li>{{'Backend'  | translate }} : C++ - C#.NET </li>
              <li>{{ 'Sytem' | translate }} : Leap Motion - Windows 8 </li>
              <li>{{ 'Tools' | translate }} : Visual Studio - Github </li>
            </ul>
          </div>

        </div>
        <div class="row job-details">
          <p>{{ "Thales Job Details" | translate }}</p>
        </div>
      </div>
      <div class=" highlight col-sm-5 right" >
        <div class="row"><h2>{{'Dev' | translate}}  </h2></div>
        <div class="row less-float">
          <div class="col-sm-12 col-md-4 no-float img">
            <img src="./assets/images/logos/e-testing.png" class="img-responsive" alt="beavr logo"/>
          </div>
          <div class="col-sm-12 col-md-8 no-float">
            <ul>
              <li>{{'Company' | translate}} : e-Testing - Nantes</li>
              <li>Mission : 2013.09 - 2013.12 (4 {{'month' | translate}})</li>
              <li>{{'Frontend' | translate }} : WPF - HTML - CSS3 </li>
              <li>{{'Backend'  | translate }} : Perl - sh - C# </li>
              <li>{{ 'Sytem' | translate }} : Ubuntu 14.06 - Windows Server </li>
              <li>{{ 'Tools' | translate }} : Visual Studio - Github </li>
            </ul>
          </div>

        </div>
        <div class="row job-details">
          <p>{{ "etesting Job Details" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <a routerLink="/skills" class="next-round-link">
    <span class="fa fa-angle-double-down"></span>
  </a>
</div>
