<div class="blur">
  <div class="container ">
    <div class="row">
      <div class="col-ms-10 col-md-4">
        <div class="project">
          <figure class="img-responsive">
            <img src="./assets/images/logos/beavr-creator.jpg">
            <figcaption>
              <span class="project-details">BeaVR Creator</span>
              <span class="project-price"><strong></strong></span>
              <span class="project-creator">BeaVR Company</span>
            </figcaption>
            <span class="actions">
              <button class="btn btn-warning bnt-action" type="submit" >View </button>
            </span>
          </figure>
        </div>
      </div>
      <div class="col-ms-10 col-md-4">
        <div class="project">
          <figure class="img-responsive">
            <img src="./assets/images/logos/beavr-store.jpeg">
            <figcaption>
              <span class="project-details">BeaVR Store</span>
              <span class="project-price"><strong></strong></span>
              <span class="project-creator">BeaVR Company</span>
            </figcaption>
            <span class="actions">
              <button class="btn btn-warning bnt-action" type="submit" >View </button>
            </span>
          </figure>
        </div>
      </div>
      <div class="col-ms-10 col-md-4">
        <div class="project">
          <figure class="img-responsive">
            <img src="./assets/images/logos/beavr-vitrine.jpg">
            <figcaption>
              <span class="project-details">BeaVR Vitrine</span>
              <span class="project-price"><strong></strong></span>
              <span class="project-creator">BeaVR Company</span>
            </figcaption>
            <span class="actions">
              <button class="btn btn-warning bnt-action" type="submit" >View </button>
            </span>
          </figure>
        </div>
      </div>
      <div class="col-ms-10 col-md-4">
        <div class="project">
          <figure class="img-responsive">
            <img src="./assets/images/logos/elliot-kersale-vitrine.jpg">
            <figcaption>
              <span class="project-details">CV Elliot</span>
              <span class="project-price"><strong></strong></span>
              <span class="project-creator">Elliot Kersalé</span>
            </figcaption>
            <span class="actions">
              <button class="btn btn-warning bnt-action" type="submit" >View </button>
            </span>
          </figure>
        </div>
      </div>
      <div class="col-ms-10 col-md-4">
        <div class="project">
          <figure class="img-responsive">
            <img src="./assets/images/logos/umovie.jpg">
            <figcaption>
              <span class="project-details">UMovie</span>
              <span class="project-price"><strong></strong></span>
              <span class="project-creator">Elliot Kersalé</span>
            </figcaption>
            <span class="actions">
              <button class="btn btn-warning bnt-action" type="submit" >View </button>
            </span>
          </figure>
        </div>
      </div>
      <div class="col-ms-10 col-md-4">
        <div class="project">
          <figure class="img-responsive">
            <img src="./assets/images/logos/sogeti-safety-check.jpg">
            <figcaption>
              <span class="project-details">Sogeti Safety Check</span>
              <span class="project-price"><strong></strong></span>
              <span class="project-creator">Sogeti High Tech</span>
            </figcaption>
            <span class="actions">
              <button class="btn btn-warning bnt-action" type="submit" >View </button>
            </span>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
